{
   project =
   {
      description="▶️  Startup code for the Foundation (mulle-objc)";
      domain="github";
      language="c";
      dialect="objc";
      name="Foundation-startup";
      user="MulleFoundation";
      repo="Foundation-startup";
      homepage="https://github.com/MulleFoundation/Foundation-startup";
      license="BSD-3-Clause";
      version="0.20.7";
   };
   dependencies =
   (
      {
         description="💍 MulleFoundation with improved compatibility and legacy support";
         domain="github";
         name="Foundation";
         repo="Foundation";
         url="https://github.com/MulleFoundation/Foundation";
         user="MulleFoundation";
      }
   );
}
